@using WebsiteBanHang.Models;
@model IEnumerable<SanPham>
@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Layout/AdminLayout.cshtml";

}

<h2>@ViewBag.Title</h2>
<div class="card">
    <div class="card-body">
        <ul class="memenu skyblue">
            <!-- Url.action trả về kiểu đường dẫn url tương ứng với controller và action : ~/Controllers/Home/Index-->
            @foreach (var groupItem in ViewBag.DSLoaiSP)  //gom nhóm lại theo từng loại sp( là gom nhóm lại những cái trùng nhau)
            {
                <li style="display: inline; font-size: 19px; margin-right: 20px;">
                    <a class="color1" href="@Url.Action("LoaiSanPham","QuanLySanPham",new { @MaLoaiSP = groupItem.MaLoaiSP})">@groupItem.TenLoai</a>
                </li>
            }
        </ul>
        @* Tạo form submit về action tìm kiếm *@
        @using (Html.BeginForm("KQTimKiem", "QuanLySanPham"))
        {
            <div class="searchaaa" style="margin-top:20px;">
                <form>
                    <input type="text" name="sTuKhoa" value="Search " onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="Tìm kiếm">
                </form>
            </div>
        }
        <p style="margin-top:20px;">
            @Html.ActionLink("Thêm mới", "TaoMoi", null, htmlAttributes: new { @class = "btn btn-sm btn-warning font-weight-bold " })
        </p>
        <div id="divPartialView">
            @Html.Partial("_IndexPartial")
        </div>
    </div>
</div>