@model WebsiteBanHang.Models.SanPham
@{
    ViewBag.Title = "Sản phẩm gần hết hàng";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="imgSP">
                    <img src="@Url.Content("~/Content/HinhAnhSP/"+Model.HinhAnh)" style="height:150px;width:150px;" />
                </div>
            </div>
            <div class="col-md-9">
                <div class="ttSP">
                    <h3>Sản phẩm: @Model.TenSP</h3>
                    <h3>Hãng sản xuất: @Model.NhaSanXuat.TenNSX</h3>
                    <h3>Loại sản phẩm: @Model.LoaiSanPham.TenLoai</h3>
                    <h3>Số lượng tồn: @Model.SoLuongTon</h3>
                </div>
            </div>
        </div>
        <br />
        <hr />
        <h3>Thông tin nhập hàng</h3>
        <br />
        @using (Html.BeginForm("NhapHangDon", "QuanLyPhieuNhap"))
        {
            @Html.Hidden("MaSP", Model.MaSP)
            <div class="row">
                <div class="col-md-4">
                    @{var lstNCC = (SelectList)ViewBag.MaNCC;}
                    Nhà cung cấp: @Html.DropDownList("MaNCC", lstNCC, new { @class = "MaNCC" })
                </div>
                <div class="col-md-4 txtSoLuong">
                    Số lượng nhập: @Html.TextBox("SoLuongNhap")
                </div>
                <div class="col-md-4 txtDonGia">
                    Đơn giá nhập: @Html.TextBox("DonGiaNhap")
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="clear right mr-3" style="text-align:right;">
                <br />
                <input type="submit" class="btn btn-primary mr-2" id="btnNhapHang" value="Nhập hàng" />
                @Html.ActionLink("Trở về", "DSSPHetHang", null, htmlAttributes: new { @class = "btn btn-sm btn-secondary font-weight-bold" })
            </div>
            <div>@ViewBag.KetQuaNhap</div>
        }
    </div>
</div>
@*<script>
    $("#btnNhapHang").click(function () {
        if (kiemTraDonGia() == false) {
            //nếu tồn tại 1 gtri bất kì class dongia kp số thì ko cho submit về server
            return false;
        }

        if (kiemTraSoLuong() == false) {
            //nếu tồn tại 1 gtri bất kì class dongia kp số thì ko cho submit về server
            return false;
        }
    });

    function kiemTraDonGia() {

        var bl = true;
        //duyệt vòng lặp each
        $(".txtDonGia").each(function () {
            var giatri = $(this).val();
            alert(giatri);
            if (isNaN(giatri) == true) {
                alert("Đơn giá ko hợp lệ!");
                bl = false;
                return bl;
            } else if (giatri <= 0) {
                alert("Giá phải lớn hơn 0");
                bl = false;
                return bl;
            }
        });
        return bl;
    }
    function kiemTraSoLuong() {

        var bl = true;
        //duyệt vòng lặp each
        $(".txtSoLuong").each(function () {
            var giatri = $(this).val();
            alert(giatri);

            if (isNaN(giatri) == true) {
                alert("Số lượng không hợp lệ!");
                bl = false;
                return bl;
            }
            else if (giatri <= 0) {
                alert("Số lượng sản phẩm phải lớn hơn 0");
                bl = false;
                return bl;
            }
        });
        return bl;
    }
</script>*@
    